.DS_Store

# dependencies
node_modules
bun.lock
# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Local tooling
.eslintcache
.cache
*.tsbuildinfo
.agents
